@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Caladea&family=Domine&family=Sorts+Mill+Goudy&display=swap');

div.navbar-header {
  background-color:#e7ddf8;
  border-color:black;
  padding-bottom: .5px;
  font-size: 24px;
}
.navbar-brand {
color:black!important;
}
.nav-tabs-custom > .nav-tabs > li.active {border-top-color: #341161;
}
.section.sidebar {
  top: 120px;
}
div#navbar.navbar-collapse.collapse {
  background-color:#e7ddf8;
  border-color:black;
  padding-bottom: .5px;
}
div.container-fluid {
  background-color:#e7ddf8;
  border-color:black;
  padding-bottom: .5px;
}

@media (max-width: 975px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
top: 0;
border-width: 0 0 1px;
}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
margin-top: 7.5px;
}
.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  display:block !important;
}
}

@media (max-width: 971px) {
 body {
    padding-top: 140px;
  }
  .section.sidebar {
    top: 120px;
  }
}

@media (max-width: 975px) and (min-width: 972px) {
  body {
    padding-top: 80px;
  }
  .section.sidebar {
    top: 60px;
  }
}

@media (max-width: 1148px) and (min-width: 976px) {
  body {
    padding-top: 200px;
  }
  .section.sidebar {
    top: 180px;
  }
}

@media (max-width: 2000px) and (min-width: 1149px) {
  body {
    padding-top: 140px;
  }
  .section.sidebar {
    top: 120px;
  }
}

@media (min-width: 2001px) {
  body {
    padding-top: 80px;
  }
  .section.sidebar {
    top: 60px;
  }
}
  
.attention {
  border: 1px solid #f7f0f0;
  border-radius: 10px;
  background-color: #e7ddf8;
  font-size: 14px;
  font-family: 'Arapey', serif;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 5px;
}